@import '../../../theme/web/custom-variables';

//custom color shades for icons and badges

$brand-primary-light: rgba($brand-primary, 0.15);
$brand-warning-light: rgba($brand-warning, 0.15);
$brand-danger-light: rgba($brand-danger, 0.15);
$brand-success-light: rgba($brand-success, 0.15);
$brand-purple: #2F008C;
$brand-purple-light: rgba($brand-purple, 0.15);
$font-color-light: rgba($font-color-default, 0.8);
$border-radius-large: 20px;
$wizard-step-width: 180px;
$input-button-size: 36px;

.badge {
    font-weight: normal;

    .mx-image-viewer-responsive>img {
        max-width: $font-size-default;
        max-height: $font-size-default;
    }

    &.badge--primary-light {
        background-color: $brand-primary-light;
        color: $brand-primary;
    }

    &.badge--warning-light {
        background-color: $brand-warning-light;
        color: $brand-warning;
    }

    &.badge--danger-light {
        background-color: $brand-danger-light;
        color: $brand-danger;
    }

    &.badge--success-light {
        background-color: $brand-success-light;
        color: $brand-success;
    }

    &.badge--purple-light {
        background-color: $brand-purple-light;
        color: $brand-purple;
    }
}

.btn-without-border.mx-link {
    color: $font-color-light;
    text-decoration: none;
}

.btn-as-text {
    border: none;
    color: $font-color-default;

    &:hover,
    &:active,
    &:focus {
        color: $font-color-default;
    }

    &:active:not(:hover),
    &:focus:not(:hover) {
        background-color: transparent;
    }
}

.label-with-text {
    >label {
        //from .form-group .control-label
        overflow: hidden;
        margin-bottom: 4px;
        text-align: left;
        text-overflow: ellipsis;
        color: $form-label-color;
        font-size: $form-label-size;
        font-weight: $form-label-weight;
        display: block;
    }

    .mx-text {
        margin-bottom: 4px;
        line-height: $line-height-base;
        display: block;
    }
}

.rounded-btn.btn {
    border-radius: $border-radius-large;
}

.show-validation-feedback {
    margin: 0;

    >input {
        display: none;
    }

}

.rfp-page-container {
    min-height: -webkit-fill-available;
    display: flex;
    justify-content: center;

    .rfp-overview-container {
        width: 100%;
        max-width: 1200px;

        .td {
            border-bottom: none;
        }
    }

    .rfp-container {
        width: 100%;
        max-width: 960px;
        display: flex;
        flex-direction: column;

    }

    .rfp-left-container {
        width: 100%;
        max-width: 864px;
        display: flex;
        flex-direction: column;

    }

    .rfp-right-container {
        width: 100%;
        max-width: 448px;
        display: flex;
        flex-direction: column;

        .rfp-text-explanation {
            display: none;
        }
    }

    .mx-layoutgrid.container-fluid {
        padding: 0;
    }

    .widget-progress-bar {

        .progress,
        .progress-bar {
            height: $font-size-default / 2;
        }
    }
}

.dataview-grow {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    >.mx-dataview-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

.input-wrapper {

    &--btn-right {
        .form-group .form-control {
            padding-right: $input-button-size;
        }
    }

    &--btn-left {
        .form-group .form-control {
            padding-left: $input-button-size;
        }
    }

    &--btn-left-right {
        .form-group .form-control {
            padding-left: $input-button-size;
            padding-right: $input-button-size;
        }
    }

    .btn-input-action {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration-line: none;
        padding: $spacing-small;
        color: $font-color-default;
        width: $input-button-size;
        height: $input-button-size;
        border: none;
        position: absolute;
        top: 1px;

        &--right {
            right: 1px;
            border-radius: 0 $btn-border-radius $btn-border-radius 0;
        }

        &--left {
            left: 1px;
            border-radius: $btn-border-radius 0 0 $btn-border-radius;
        }
    }
}

.btn-container {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $border-color-default;

    .btn {
        margin-left: $spacing-small;
        margin-top: $spacing-medium;
    }
}

.wizard {
    display: flex;
    justify-content: center;
    width: 100%;

    .wizard-step {
        width: $wizard-step-width;

        &:first-child::before {
            display: none;
        }

        .wizard-step-number {
            padding: 0;
            height: $font-size-default;
            width: $font-size-default;
            border: 1px solid $border-color-default;

        }

        &::before {
            position: absolute;
            z-index: 0;
            top: $font-size-default / 2;
            right: $wizard-step-width / 2;
            display: block;
            width: 100%;
        }

    }

    .wizard-step-active {
        .wizard-step-number {
            color: $wizard-active-color;
            border-color: $wizard-active-border-color;
            background-color: $wizard-default-bg;
        }

        .wizard-step-text {
            color: $wizard-active-step-color;
        }
    }

    .wizard-step-visited {
        .wizard-step-number {
            color: $wizard-active-color;
            border-color: $wizard-active-border-color;
            background-color: $wizard-active-color;
        }

        .wizard-step-text {
            color: $wizard-active-step-color;
        }
    }

    .wizard-step-active,
    .wizard-step-visited {
        &::before {
            background-color: $wizard-active-color;
        }
    }

}

.progress-item {
    .mx-text {
        color: $font-color-detail;
    }

    .progress-circle {
        padding: 0;
        height: $font-size-default;
        width: $font-size-default;
        border: 2px solid $border-color-default;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--active {
        .mx-text {
            color: $font-color-default;
        }

        .progress-circle {
            border-color: $font-color-default;
        }
    }

    &--completed {
        .progress-circle::after {
            content: "";
            border: solid $font-color-default;
            border-width: 0 2px 2px 0;
            width: .4rem;
            height: .6rem;
            transform: rotate(45deg);
        }
    }

}