@import '../../../theme/web/custom-variables';

//custom color shades for icons and badges

$brand-primary-light: rgba($brand-primary, 0.90);
$brand-primary-lighter: rgba($brand-primary, 0.60);
$brand-warning-light: rgba($brand-warning, 0.90);
$brand-warning-lighter: rgba($brand-warning, 0.60);
$brand-danger-light: rgba($brand-danger, 0.90);
$brand-danger-lighter: rgba($brand-danger, 0.60);
$font-color-light: rgba($font-color-default, 0.8);


.badge {
    &.badge--primary-light {
        background-color: $brand-primary-light;
    }

    &.badge--primary-lighter {
        background-color: $brand-primary-lighter;
    }

    &.badge--warning-light {
        background-color: $brand-warning-light;
        color: $font-color-light;
    }

    &.badge--warning-lighter {
        background-color: $brand-warning-lighter;
        color: $font-color-light;
    }

    &.badge--danger-light {
        background-color: $brand-danger-light;
        color: $font-color-light;
    }
}

.popup-menu-item.mx-link {
    color:rgba($font-color-default, 0.8);
    text-decoration: none;
}
